<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array</title>
</head>

<body>


    <script>
        // var numbers = [1, 2, 3, 3, 4, 45, 5, true, 'hai']
        // // var name = 'sdkjn'
        // // console.log(numbers)
        // // console.log(numbers[2])
        // // console.log(typeof (numbers))

        // // for (i = 0; i < numbers.length; i++) {
        // //     // console.log(numbers[i])

        // //     if(numbers[i]%2 == 0){
        // //         console.log(numbers[i])
        // //     }
        // // }

        // for(item of numbers){
        //     console.log(item)

        // }

        // var users = {
        //     'name': 'irshad',
        //     'email': 'snaljfh@gmail.com',
        //     'place': 'kozhikode',
        //     'phone no': 3456789,
        //     1: 567890,
        //     'skills':['htnl','js','python']

        // }
        // console.log(users)
        // console.log(users['name'])
        // console.log(users)
        // console.log(typeof(users))
        // console.log(typeof(users['name']))


        var places = ['kochi', 'kozhokk0d', 'kakkattiri']
        console.log(places.toString())
        places.push('koottanad')
        

            // places.splice(2,1,'thrithala')
            console.log(places.sort())
            console.log(places.reverse())

    </script>

</body>

</html>