{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

</head>

<body>
    <!-- <script>
        // --------Number

        num1 = '10'
        num2 = 5
        // document.write(num1)
        console.log(num1)
        console.log(typeof(num1))
        console.log(num1+num2)

        // --------String

        name = "mushraf muhammed"
        console.log(name)
        console.log(name.length)
        console.log(name[13])

        // --------Boolean
        
        higher_education=false
        console.log(higher_education)
    </script> -->



    <!-- <script>

        name = prompt('Enter your name')
        age = 22h
        // console.log(name)
        document.write('<h1>hello ',name, 'your age is ',age,'</h1>')
    </script> -->




    <script>
        //--------Arithmetic Operations

        // num1 = parseInt(prompt('Enter first number:'))
        // num2 = parseInt(prompt('Enter second Number:'))
        // console.log(typeof (num2))
        // sum1 = num1 + num2
        // sum2 = num1 - num2
        // sum3 = num1 * num2
        // sum4 = num1 / num2

        // document.write(num1 + '+' + num2 + '=' + sum1 + '<br>')
        // document.write(num1 + '-' + num2 + '=' + sum2 + '<br>')
        // document.write(num1 + '*' + num2 + '=' + sum3 + '<br>')
        // document.write(num1 + '/' + num2 + '=' + sum4 + '<br>')

        //--------current age to 100

        // name = prompt('Enter your name:')
        // age= Number(prompt('Enter Your age:'))
        // sum=100-age

        // document.write('<h1>Hello ',name,'you have ',sum,' more years to reach 100...')


    </script>

    <!-- <script>
        var a = prompt('Enter a Choice:')
    </script> -->


    <!-- <script>
        //--------For Loop

        // for(var i=1;i<10;i++){
        //     console.log(i)
        // }

        // for (var i = 10; i >= 0; i--) {
        //     console.log(i)
        // }

        // --------<whie Loop>
            var cars = ['BMW','SUZUKI','TOYOTO','BENZ']
            var i = 0
            var text = '' 
            while(cars[i]) {
                text += cars[i]+
                i++
           }
            document.write(text)
    </script> -->

    <script>

        // --------09/22<--Grade-->
        // var mark = parseInt(prompt('Enter Your Mark:'))
        //     if(mark > 60 && mark <= 100){
        //         document.write('Grade is A')
        //     }
        //     else if(mark >= 40  && mark <= 60 ){
        //         document.write('Grade is B')
        //     }
        //     else if(mark > 30 && mark <= 40){
        //         document.write('Grade is C')
        //     }
        //     else{
        //         document.write('Invalid Entry')
        //     }

        //--------odd or even

        // var num1 = parseInt(prompt('Enter a Number'))
        // if (num1%2 == 0) {
        //     document.write('It is even Number')
        // }
        // else{
        //     document.write('It is odd number')
        // }


        // --------11/22 Nested loop

        // for(i=0;i<=5;i++){
        //     for(j=0;j<=5;j++){
        //         console.log(i,j)
        //     }

        // }
        // var i = 0
        // var j = 0
        // while (i < 5) {
        //     j = 0
        //     while (j < 5) {
        //         console.log(i, j)
        //         j++;

        //     }
        //     i++;

        // }


        //--------Do While Loop
        // var i = 0
        // do {
        //     console.log(i)
        // } while (i<5);



        //--------Function

        // function sum(num1,num2) {
        //     var sum=num1+num2
        //     console.log(sum)
        // }
        // sum(10,60)


        //--------Login page
        // function display(username,password,dob,number) {
        //     console.log('Usernam:' , username)
        //     console.log('password:' , password)
        //     console.log('date of birth:' , dob)
        //    console.log('Usernam:' , number)
        // }

        // display('mushrafmuhammed',0212412165, '08 / 02 / 2000',9946649401)
        // display('muhammed',992412165, '22 / 07 / 2000',888649401)


        //--------task: add entered number indivitualy

        // var num1 = parseInt(prompt('Enter a number:'))

        // // var num2 = num1;
        // var sum = 0;
        // var m;

        // while (num1 > 0) {
        //     m = num1 % 10 ;
        //     i = i + m;
        //     num1 = parseInt(num1 / 10)
        // }
        // console.log(i)

        // while (num1 > 0) {
        //     m = num1 % 10;
        //     i = (i * 10) + m;
        //     num1 = parseInt(num1 / 10);
        //     // break;
        // }
        // console.log(i)


        // --------generating  a random number
        // const a = Math.random();
        // console.log(a);



        //-------- Swapping
        // var num1 = parseInt(prompt('Enter first NUmber:'))
        // var num2 = parseInt(prompt('Enter second number:'))

        // var temp = num1;
        // num1 = num2;
        // num2 = temp;

        // console.log('The value of A after swapping:' + num1);
        // console.log('The value of B after swapping:' + num2);

        //--------Convert Kilometers to Miles

        // var Kilometers = parseInt(prompt('Enter a Value of kilometers:'))

        // //convertion factors
        // const factor = 0.621371

        // var Miles = Kilometers * 0.621371

        // console.log('after convertion of ' + Kilometers + ' kilomerters to miles=' + Miles);

        // //converte the miles to kilometers
        // Kilometers = Miles / 0.621371
        // console.log('after convertion of '+Miles+ 'to Kilometers:'+Kilometers );

        //--------
    </script>

</body>

</html>