<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<body>



    <script>
        // // length { C}
        // var name = 'mushraf muhammed'
        // console.log(name.length)
        // // charAt(){ For select specific position of the string }
        // console.log(name.charAt(0))

        // // concat() { For add two strings }
        // var address = 'helloo '
        // console.log(address.concat(name))

        // // match()
        // var email_id = 'mushraf@gmail.com'
        // var str = 'for more information, c chapter 3,4,5,1'
        // console.log(str.match())

        // slice


        // split {slit the string space ways and letter ways}
        // var address = 'helloo Mushraf Muhammed '

        // // toLowerCase() { for entred data becom lowercase format}
        // var address = 'HELLO Mushraf Muhammed '
        // console.log(address.toLowerCase())

        //  // toUpperCase() { for entred data becom upperCase format}
        //  var address = 'helloo Mushraf Muhammed '
        // console.log(address.toUpperCase())

        var para = 'In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. '
        var words = para.split(' ')
        console.log(words)
        // for (i = 0; i < words.length; i++) {
        //     console.log(words.toUpperCase())
        // }

    </script>
</body>

</html>